.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding-top: 30px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    position: relative;
    animation: HeaderListShow 1.5s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);

    @include r(1100) {
      position: absolute;
      top: -200px;
      left: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(9, 8, 8, .96);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s linear, opacity 0.3s linear, top 0.3s linear;
    }
  }

  &__list--show {
    top: 0;
    visibility: visible;
    opacity: 1;
  }

  &__item {
    @include adaptiveValue("margin-right", 15, 10);

    &:last-child {
      margin-right: 0;
    }

    @include r(1100) {
      margin-right: 0;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    position: relative;
    border-radius: 10px;
    padding: 5px;
    transition: all linear 0.2s;
    outline: transparent;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $accent;
      bottom: -5px;
      left: 0;
      right: 0;
      transform: scaleX(0);
      transition: all linear .2s;
    }

    &:focus {
      box-shadow: 2px -2px 19px 3px #e0edcf;
    }
    
    &:hover {
      color: $accent;

      &::before {
        transform: scaleX(1);
      }
    }
    
    &:active {
      top: -3px;
    }
  }

  &__social {
    position: relative;
    transition: all linear 1.2s;

    @include r(1100) {
      margin-left: auto;
      display: none;
      opacity: 0;
    }
  }

  &__social--active {
    display: block;
    opacity: 1;
  }

  &__btn {
    mask: url('../images/sprite.svg#headerSocial-icon2') center / cover no-repeat;
    width: 90px;
    height: 90px;
    background-color: $default;
    animation: rotate 20s linear infinite;
    transition: all linear 0.2s;

    &:hover {
      background-color: $accent;
    }
  }

  &__listSocial {
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 105px;
    left: -55px;
    width: 200px;
    background-color: rgba(9, 8, 8, .9);
    padding: 15px;
    border-radius: 10px;
    transition: all linear 0.3s;

    @include r(1300) {
      left: -90px;
    }
  }

  &__listSocial--show {
    visibility: visible;
    opacity: 1;
  }
  
  &__itemSocial {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__linkSocial--tel {
    display: flex;
    align-items: center;
    transition: all linear 0.2s;
    outline: transparent;

    &::before {
      content: "";
      display: block;
      mask: url('../images/sprite.svg#tel-icon') center / cover no-repeat;
      background-color: $default;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      transition: all linear 0.2s;
      outline: transparent;
    }

    &:hover {
      color: $accent;

      &::before {
        background-color: $accent;
      }
    }

    &:focus {
      box-shadow: 2px -2px 19px 3px #e0edcf;
    }
  }
  
  &__linkSocial--whatsapp {
    &::before {
      content: "";
      display: block;
      mask: url('../images/sprite.svg#whatsapp') center / cover no-repeat;
      background-color: $default;
      width: 40px;
      height: 40px;
      transition: all linear 0.2s;
    }

    &:hover {
      &::before {
        background-color: $accent;
      }
    }
  }

  &__linkSocial--telegram {
    &::before {
      content: "";
      display: block;
      mask: url('../images/sprite.svg#telegram') center / cover no-repeat;
      background-color: $default;
      width: 40px;
      height: 40px;
      transition: all linear 0.2s;
    }

    &:hover {
      &::before {
        background-color: $accent;
      }
    }
  }
}

.header--sticky {
  background-color: rgba(9, 8, 8, .96);
  padding: 15px 0;
  transition: all linear 0.3s;
}

.burger {
  display: none;
  @include burger;
  
  @include r(1100) {
    display: block;
    z-index: 11;
    // order: 2;
    @include adaptiveValue("margin-left", 40, 20);
  }
}



@keyframes HeaderTitle {
  from {
    transform: translateX(-3000px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-180deg);
  }

  to {
    transform: rotate(180deg);
  }
}

// animation: HeaderTitle 1.5s;
// animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
// animation-direction: alternate;

@keyframes HeaderListShow {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}